body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #3498DB;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    width: 100%;
}

.header__navbar > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
    border: 2px solid black;
    padding:10px;
    width: 80px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
}

nav a {
    text-decoration: none;
    color: black;
}

h1 {
    margin: 0;
}

.main__class-image
{
    /* display: inline; */

    width: 500px;
    display: inline;
}
.main__class-image > img
{
    margin-top: 55px;
    height: 600px;
}

.main__class-text
{
    /* border: 1px solid black; */
    float:right;
    margin-top:50px;
    width: 800px;
    height:600px;
    margin-right: 30px;
    color:#3498DB;
}
.main__class-text > h2
{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 15%;
    text-shadow: 4px 5px 5px rgba(114, 114, 114, 0.5),-10px -2px 4px rgba(236, 240, 241);

}
.main__class-text-botton
{
    background-color: #3498DB;
    border:1px solid black;
    width:130px;
    padding:8px;
    border-radius:5px;
    margin-top: 30px;
    font-size: 16px;
    margin-left: 335px;
}
.main__class-text-botton:hover
{
    background-color: white;
    cursor: pointer;
}
.footer
{
    background-color: #3498DB;
}
.contact_us
{
    margin-top:100px;
    /* border: 1px solid black; */
    height:100px;
    display:inline-block;
    float:left;
    margin-left: 30px;

}
.Help
{
    margin-top:100px;
    display:inline-block; 
    /* border: 1px solid black; */
    height:100px;
    margin-left: 30%;
}
.goals
{
    margin-top:100px;
    display:inline-block; 
    /* border: 1px solid black; */
    height:100px;
    float:right;
    margin-right:30px;
}
th
{
    color: #ECF0F1;
}
/* .footer > .contact_us > .Table__contaceus > tr >  .footer_content > a
{
    font-size: 20px;
} */
